body{
	background-color: #F7F7F7;
}
ul li{
	list-style: none;
}
a{
	text-decoration: none;
}
.userinfo{
	width: 1180px;
	margin: 1px auto;
	height: 500px;
}
.left-list{
    float: left;
    width: 180px;
    border:1px solid #eee;
    background-color:#fff;
    height: 500px;
    box-shadow: 0px 2px 4px 0px rgba(30,30,30,0.1);
}
.right-content{
	padding:0px 25px 0px 25px;
    background-color: #fff;
    overflow: hidden;
    border:1px solid #eee;
    width:960px;
    margin-left:30px;
 	height: 500px;
 	box-shadow: 0px 2px 4px 0px rgba(30,30,30,0.1);
}
.list{
	text-align:center;
}
.select{
	margin-bottom: 30px;
}
.select h3{
	font-weight: 700;
	font-size:18px;
	margin-bottom: 8px;
}
.select ul{
	width: 100%;
}
.select ul li{
	margin:5px auto;
	padding:5px;
	width: 80px;
	border-radius: 2px;
}
.select li a{
	font-size: 14px;
	color:#666;
}
.headz{
	margin-top:0px;
	padding: 20px auto;
	border-bottom: 1px solid #eee;
}
.header-img{
	float: left;
	margin-right: 16px;
	cursor: pointer;
	margin-top:12px;
}
.head{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin: 10px auto;
	margin-bottom: 15px;
}
.header-img input{
	margin-bottom:15px;
}
.info{
	width:50%;
	padding:15px;
	height:390px;
	margin-top: 20px;
	float: left;
	border-left: 1px solid #eee;
	text-align: left;
	font-size: 14px;
	color: #666;
}
.update{
	float:right;
	text-decoration: none;
	font-size: 14px;
	margin-top: 24px;
	
}
.info ul li{
	margin-bottom: 30px;
}
 .page{
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-image: none;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    position: fixed;
    z-index: 1010;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto;
    background: rgba(0,0,0,.6);
	display: none;
} 
.content{
	opacity:1;
	padding: 20px;
	color: #666;
	margin: 200px auto;
	background-color: #FFFFFF;
	width: 420px;
	height: 400px;
	box-sizing: border-box;
	border-radius: 4px;
}
.up-header{
	font-size:16px;
	font-weight: 700;
	float: left;
	margin-top:-19px;
}
.esc{
	float: right;
}
.form{
	text-align:right;
	margin: 70px auto;
}
.form input{
	height:28px;
	width: 200px;
	border-radius:3px ;
	border: 1px solid #CCCCCC;
}
.form table tr{
	margin-bottom: 20px;
}
.form .submit{
	margin: 30px 82px;
	background: #1e89e0;
	color: #FFFFFF;
	cursor: pointer;
}
